@import "./stylesheets/variables.scss";

.bg-dark {
  background-color: gray !important;
}

.fullGrow {
  flex-grow: 1;
}

.center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.p-10 {
  padding: 10px;
}

.p-40 {
  padding: 40px;
}

body {
  margin: 0;
  background-color: whitesmoke;
}
